[2020-07-27 15:37] ThiefMaster opened #1 "Copy CNAME file from source branch"
I'm using a custom domain for my github page. This requires a CNAME file, but since the target branch always gets replaced with the jekyll output, this file gets lost even if it is present in the source branch, breaking the site.

[2020-07-27 16:14] #1 closed

[2021-01-05 21:17] datapolitical opened #4 "Github Actions not caching _site"
I'm running into an odd issue where every time my site deploys it has to re-generate *all* of the webp image files, because it can't find them in the destination directory (despite being in the same folder with the originals). The code runs fine locally, but that's because the _site folder is still there. But with this plugin that _site data disappears after it's pushed.

Edit: *I should add that

[2021-01-08 06:16] jeffreytse commented on #4
Hi @datapolitical

Thanks for your reporting, I will work to solve this problem.

Thanks and regards

[2021-01-08 07:25] datapolitical commented on #4
Thanks!

[2021-01-21 19:55] MaxGhenis opened #5 "How to test the action?"
I'd like a testing action that runs on PRs before merging, which builds but doesn't deploy. Is this possible?

[2021-01-22 18:00] jeffreytse commented on #5
Hi @MaxGhenis

Yes,  you can test it before merging as below:

1. Create a branch called `test` for your fork.

[code]

2. Change the action option `branch` to `test`.

[code]

3. Create your [PAT](https://github.com/settings/tokens) (Personal Access Token).

- Go to your repository’s Settings and then switch to the Secrets tab.
- Create a token named `GH_TOKEN` (important) using the value copied.

[2021-01-27 02:44] iveney opened #6 "Is it "TOKEN" or "GH_TOKEN"?"
The [code](https://github.com/jeffreytse/jekyll-deploy-action/blob/0bb9ed9e4d5afd759c836ee9a4c7de73629673cc/action.yml#L8) and my failed workflow seems suggesting me to use "TOKEN", while the doc says "GH_TOKEN".

I think it should be "TOKEN" per the code?

[2021-01-27 02:50] jeffreytse commented on #6
Hi @iveney

Thank you for your using this action. And for the "TOKEN", you should follow below:

About how we to provide permissions for this action to push to the `gh-pages` branch:

- Create a [Personal Token](https://github.com/settings/tokens) with **repos permissions** and copy the value.
- Go to your repository’s Settings and then switch to the Secrets tab.
- Create a token named `GH_TOKEN`

[2021-01-27 05:31] iveney commented on #6
Thanks! Somehow it didn't work at the first try. `GH_TOKEN` does work for me now.

[2021-01-27 05:31] #6 closed

[2021-01-27 05:47] iveney opened #7 "No such file or directory - gsl-config"
Hi again :)

My site enabled `lsi` which leverages gem "classifier-reborn" and gem "gsl". It works fine by me locally in Mac. It also works fine with travis-ci.com (I am trying to migrate the deployment from travis-ci to github actions). It is not working with this action though.

Since `gsl` requires installing `libgsl0-dev` in ubuntu, so I added this before the sample yml. It is installed succes

[2021-01-27 07:20] jeffreytse commented on #7
Hi @iveney

Could you provide me your repository? I will fork it and help you to settle it down.

Thanks and regards

[2021-01-27 20:13] iveney commented on #7
@jeffreytse  Thanks for the kind offer!

Here's the [repo](https://github.com/iveney/ivansiu.com/tree/test-gsl) for reproducing. Use [test-gsl](https://github.com/iveney/ivansiu.com/tree/test-gsl) branch. Here's the [full log](https://github.com/iveney/ivansiu.com/actions/runs/516114702) of failed workflow.

[2021-01-28 10:57] jeffreytse commented on #7
Hi @iveney

Your issue has been addressed and settled down. please update to `jekyll-deploy-action@v0.2.0`, the `build-jekyll.yml` please follow the below:

[code]

Thanks and regards

[2021-01-28 19:25] iveney commented on #7
Thanks a lot. gsl builds now! However, I encountered another issue regarding the repository. I'll open a new issue for that.

[2021-01-28 19:25] #7 closed

[2021-01-29 08:06] khw11044 commented on #5
![캡처](https://user-images.githubusercontent.com/51473705/106248020-bb5a5880-6253-11eb-8294-210a9260cc5e.JPG)

![캡처2](https://user-images.githubusercontent.com/51473705/106248117-e2188f00-6253-11eb-8d83-bc7574635983.JPG)

![캡처](https://user-images.githubusercontent.com/51473705/106248126-e47ae900-6253-11eb-8c6c-d9122dfce799.JPG)

Why won't it work...?
I really wanted to use jekyll-spaceship..... bc

[2021-01-29 08:10] jeffreytse commented on #5
Hi @khw11044

Thanks for your support and could you show me the error details?

Thanks and regards

[2021-01-29 08:18] khw11044 commented on #5
Oh, Thanks to answer~ it's really awsome plugin

but now my problem is that

remote: Not Found
fatal: repository 'https://github.com/https://github.com/khw11044/khw11044.github.io.git/' not found

![캡처](https://user-images.githubusercontent.com/51473705/106249667-02e1e400-6256-11eb-8755-a36be01135b7.JPG)

[2021-01-29 08:32] jeffreytse commented on #5
Hi @khw11044

Actually, it's an error from your action config file `build-jekyll.yml` and if your jekyll project repository is the same one with your github action, you should keep the field `repository` empty, and the default is current repository, you don't need a full url because of you choosing the `github provider`.

Thanks and regards

[2021-02-13 04:55] 000407 opened #8 "Unable to Build"
Hello there,

I stumbled upon this.

![image](https://user-images.githubusercontent.com/21293445/107841954-f25b6d00-6e02-11eb-8fba-3996a7257172.png)

The following is my workflow.

[code]
Any idea why this is happening?

[2021-02-13 08:10] jeffreytse commented on #8
Hi @000407

Have you added your secret TOKEN in your repository setting?

Thanks and regards

[2021-02-13 08:32] 000407 commented on #8
Yeah I have had the key added.

But, once you suggested, I tried changing the key to a different one. Now it works. Probably something wrong with setting the key. Thanks for your quick response! 👍

[2021-02-13 08:32] #8 closed

[2021-02-13 08:34] jeffreytse commented on #8
Hi @000407

You are welcome and I'm so glad to heard that you have settle down it. Welcome to star this project for further updates in future.

Thanks and regards

[2021-03-11 08:58] PeppaCat commented on #5
Hi, jeffreytse. I am still a little confused about the workflow operation.
Assume I have a repo for my blog: `blog.github.io` and I am following your instructions, should I create a directory `.github/workflow` in the master branch of `blog.github.io`?
Another question that keeps me spellbound is that after finishing the workflow configuration when I finish writing a post, should I just push to th

[2021-03-11 09:06] jeffreytse commented on #5
Hi @PeppaCat

Thanks for your questions.

For the question 1, you should still create a directory `.github/workflows` in the `master` branch of yoru blog repos. For the question 2, you should still push to the master branch, because the workflow is triggered by the pushing event on `master` ([See here](https://github.com/jeffreytse/jekyll-deploy-action/blob/ff65d1b1067d0d0695976e26c6de10b432dddc72

[2021-03-11 21:57] MaxGhenis opened #9 ""Please set the TOKEN environment variable." when it's set"
In https://github.com/UBICenter/ubicenter.org/pull/63 I'm trying to test my deployment using instructions from #5. I've set a token per the instructions here, and also tried regenerating a new PAT to make sure, but I'm still getting the error `Please set the TOKEN environment variable.`

![image](https://user-images.githubusercontent.com/6076111/110860834-2135f900-8272-11eb-879e-0263cc77f5e4.png)

[2021-03-12 02:22] jeffreytse commented on #9
Hi @MaxGhenis ,  I want  to  confirm that if this action is working well in you repository (https://github.com/MaxGhenis/ubicenter.org/tree/action)? Or the same problem?

[2021-03-12 06:43] MaxGhenis commented on #9
Ohh is this because I only have `GH_TOKEN` on the main repo (UBICenter/ubicenter.org), rather than my fork from which I'm PRing (MaxGhenis/ubicenter.org)? It's worked upon merging, e.g. in https://github.com/UBICenter/ubicenter.org/actions/runs/633636810.

If that's the cause, is there a way to use the `GH_TOKEN` across forks? Otherwise each contributor would need to set up a token right?

[2021-03-12 06:50] jeffreytse commented on #9
Hi @MaxGhenis , you are right, each contirbutor would need to set up a token and do the test in its fork repo, after merging to the main brach of the repo (UBICenter/ubicenter.org), the action will use the `GH_TOKEN` in the repo, we can not use the `GH_TOKEN` across forks because of the permission issue.

[2021-03-12 07:07] MaxGhenis commented on #9
OK, I added a `GH_TOKEN` secret to the MaxGhenis/ubicenter.org repo, but still getting the same error: https://github.com/UBICenter/ubicenter.org/pull/63/checks?check_run_id=2092885527

[2021-03-12 07:18] jeffreytse commented on #9
Hi @MaxGhenis

Could you add a `GH_TOKEN` secret to the `MaxGhenis/ubicenter.org` repo and then rerun the action in `MaxGhenis/ubicenter.org` again? After completing them please tell me the result.

Thanks and regards

[2021-03-12 07:23] MaxGhenis commented on #9
I can't create another `GH_TOKEN` secret in `MaxGhenis/ubicenter.org`. Would you like me to regenerate it again, or just re-run the action?

[2021-03-12 07:25] jeffreytse commented on #9
Hi @MaxGhenis , yes, to regenerate it again, and just re-run the action.

[2021-03-12 07:29] MaxGhenis commented on #9
Same error: https://github.com/UBICenter/ubicenter.org/pull/63/checks?check_run_id=2093007354

[2021-03-12 07:35] jeffreytse commented on #9
Hi @MaxGhenis ,
I think you should remove this condition and re-run the action in your fork's repos (i.e. https://github.com/MaxGhenis/ubicenter.org) and see the result.

![image](https://user-images.githubusercontent.com/9413601/110907501-76443e80-8348-11eb-8311-5a76f764afa4.png)

[2021-03-12 17:26] MaxGhenis commented on #9
No change: https://github.com/UBICenter/ubicenter.org/pull/63/checks?check_run_id=2097162809

[2021-03-13 02:15] jeffreytse commented on #9
Hi @MaxGhenis , maybe the problem is that your action is not in the master branch, could you have a test in the master branch?

[2021-03-13 06:23] MaxGhenis commented on #9
It ran successfully when merging, i.e. from `master`: https://github.com/UBICenter/ubicenter.org/actions/runs/648414168

So I guess this might be more of an issue around testing (#5). Is there a way to test the action in a PR from a non-master branch of a personal fork? There's nothing about `master` in the .yml so I'm a bit confused, but this is my normal workflow.

[2021-03-13 06:53] jeffreytse commented on #9
Hi @MaxGhenis

Github Actions did the right thing by making the `$GITHUB_TOKEN` read-only and secrets unavailable for forks for security reasons, but this can be a big limitation. Short of making a key publically available, parts of the CI process would just have to be disabled.

So I think you can do as below:

1. Create a new repository and add it as a new remote upstream repository that will be

[2021-03-19 07:04] jeffreytse commented on #9
Hi @MaxGhenis  , Could we close this issue now? : )

[2021-03-20 04:04] #9 closed

[2021-03-21 07:49] datapolitical commented on #4
Turns out this is not working and my site build has ballooned to over 16 minutes because of the responsive image plugin I'm using.

The action runs, the cache hit happens, but nothing is being stored in the cache.
I use this:

[code]
from here: https://github.com/datapolitical/chrisfnicholson.github.io/blob/main/.github/workflows/build-jekyll.yml

But the response is:
Received 22 of 22 (100.0%), 0

[2021-03-21 08:25] jeffreytse commented on #4
Hi @datapolitical

I saw that you're not using this jekyll-deploy-action from here https://github.com/datapolitical/chrisfnicholson.github.io/blob/481414b45213dafaf635ba4b980ffa0050050966/.github/workflows/build-jekyll.yml#L54, so I think you cache a wrong site ouput folder.

Thanks and regards

[2021-03-21 09:01] datapolitical commented on #4
It's the same action I just updated it to run in Ubuntu and added a few extra dependencies so my site would build properly. Shouldn't change the build folder.

https://github.com/jeffreytse/jekyll-deploy-action/compare/master...datapolitical:master

[2021-03-21 09:07] jeffreytse commented on #4
Could you change your action to `jeffreytse/jekyll-deploy-action@v0.2.0` and try again? Maybe it settle your issue abou the `_site` folder has not been cached. : )

[2021-03-21 09:37] datapolitical commented on #4
Didn't build because of all the dependencies I load early in the script conflict with what your code expects, but I need them to run imagemagick ![image](https://user-images.githubusercontent.com/696957/111900170-39cead80-89ee-11eb-9bb6-351f9a5b9296.png)

[2021-03-21 09:45] jeffreytse commented on #4
Hi @datapolitical , my deploy action has added `imagemagick` package to the system enviroment, so I don't know why it has the conflicts, could you provide me the action log to analysis?

[2021-03-21 09:59] datapolitical commented on #4
This is the issue I'm talking about. It was a lot of work to make it compatible.

https://github.com/sverrirs/jekyll-webp/issues/15#issuecomment-739579629

[2021-03-21 10:13] jeffreytse commented on #4
Hi @datapolitical , don't worry, I will try to help you to settle down this issue, please be patient. : )

[2021-03-21 11:38] jeffreytse opened #10 "rm: cannot remove '.git': Directory not empty"
For some reason we could not remove the `.git` directory, this would cause the deploy failed, so we should find all of the process ids which are accessing the directory and kill them firstly.

![image](https://user-images.githubusercontent.com/9413601/111903388-0850f300-8a7d-11eb-9868-c4c2a84b212e.png)

[2021-03-21 11:54] jeffreytse commented on #4
Hi @datapolitical

Thanks for the patience and currently this issue has been addressed and fixed.

- You don't need to use a fork's action and I have test with the action `jeffreytse/jekyll-deploy-action@master` and it has no any dependencies issue. ([See here](https://github.com/jeffreytse/chrisfnicholson.github.io/runs/2159506586?check_suite_focus=true) and [the website](https://jeffreytse.githu

[2021-03-21 11:59] #10 closed

[2021-03-21 21:02] datapolitical commented on #4
When I use your action I get "￼ /usr/bin/env: ‘ruby2.7’: No such file or directory" on line 89 https://github.com/datapolitical/chrisfnicholson.github.io/runs/2161384500?check_suite_focus=true

[2021-03-21 21:42] datapolitical commented on #4
I switched it back to my fork and now caching works great! Thanks so much for your help.￼ Happy to debug the issue if you want but very glad this works, it took nearly 10 minutes off my build time.

[2021-03-21 22:52] datapolitical opened #11 "Caching Jekyll-deploy-action Docker"
Now that I've got my build time under 6 minutes the next big time sink is the 2+ minutes it takes to build the action. Caching seems to be possible using this: https://github.com/docker/build-push-action/issues  but it's well outside my depth.

Figured I would pass it along in case you had thoughts.

[2021-03-22 06:52] jeffreytse commented on #4
Hi @datapolitical,

Currently I'm researching the issue "/usr/bin/env: ‘ruby2.7’: No such file or directory", could you test with the action `jeffreytse/jekyll-deploy-action@master` again and tell me the result?

Thanks and regards

[2021-03-22 07:10] jeffreytse commented on #4
Hi @datapolitical, could you invite me a collaborator as follow instructive, so that I can re-run the action by myself conveniently, it will be fast to settle this issue for me.

![image](https://user-images.githubusercontent.com/9413601/111952716-81555680-8b20-11eb-8d3f-59768a0774bc.png)

[2021-03-22 07:12] datapolitical commented on #4
Didn't work. Here's the error:

![image](https://user-images.githubusercontent.com/696957/111953003-3b0de200-8aa3-11eb-9796-7c452d11e3a6.png)￼

[2021-03-22 07:35] jeffreytse commented on #4
@datapolitical According to the latest result, it seems to a issue that used a wrong bundle cache built for ubuntu but my action's Dockerfile is using Alphine Linux (super lightweight).

[2021-03-22 07:38] datapolitical commented on #4
If you want to keep debugging, I updated the development version of the action so that the the action will run any time there's an issue added to the repository.

And yes, your action's Dockerfile uses Alpine Linux. If you wan't I'll try editing mine to remove the ubuntu stuff to see if yours can build the site properly, but at least when I tried a couple months ago, a couple of the plugins needed

[2021-03-22 07:48] jeffreytse commented on #4
Hi @datapolitical, thanks for your help to dig this issue, a couple of the plugins's dependencies such as `libmagick` has been added,  and your whole site has been built without any problems in my action currently, it's another issue, so it's better to settle this cache issue and improve the compatibility.

[2021-03-22 07:54] jeffreytse commented on #4
Hi @datapolitical  I just comment the issue in your repository but never trigger the action

[2021-03-22 07:56] datapolitical commented on #4
Try opening a new issue, that worked for me.

[2021-03-22 08:01] jeffreytse commented on #4
I think the `comment_created` event should be better, I am afraid of too many issues 😢
![image](https://user-images.githubusercontent.com/9413601/111958016-b44f1880-8b27-11eb-97c1-85a97ae2ea8c.png)

[2021-03-22 08:03] datapolitical commented on #4
OK now it runs if you make a comment￼.

[2021-03-22 08:59] datapolitical commented on #4
I edited the action to remove the dependencies and to create a new cache and it looks like it works! Still waiting for it to finish generating all the files but figured I'd give you a heads up.

[2021-03-22 09:02] jeffreytse opened #12 "/usr/bin/env: ‘ruby2.7’: No such file or directory"
When we use `actions/cache` to cache the gems (i.e. `vendor/bundle` folder), it would introduce this error `/usr/bin/env: ‘ruby2.7’: No such file or directory`, because this cache could be cached in a different OS (e.g. Ubuntu).

![image](https://user-images.githubusercontent.com/9413601/111965173-68ed3800-8b30-11eb-8244-9db1e650a453.png)

[2021-03-22 09:03] datapolitical commented on #4
Actually it looks like you fixed it because the old workflow you just ran also worked.

[2021-03-22 09:14] jeffreytse commented on #4
Hi @datapolitical

Many thanks for your help and the cache compatibility issue has been addressed and fixed (#12), now you can just use the `jeffreytse/jekyll-deploy-action@master` without any other issues.

Thanks and regards

[2021-03-22 09:17] jeffreytse commented on #4
@datapolitical Could you change back to the previous cache key? So that I can check if it does work.

[2021-03-22 09:27] datapolitical commented on #4
Trying it now live

[2021-03-22 09:33] jeffreytse commented on #4
Hi @datapolitical,  I have seen the action cleaned up the incompatible gem cache, so this issue has been settled down perfectly.
![image](https://user-images.githubusercontent.com/9413601/111968731-70aedb80-8b34-11eb-93a0-9aaf9f92fc91.png)

[2021-03-22 09:43] datapolitical commented on #4
Also, If you wouldn't mind creating a release, I prefer not to target my code at master because things can change.￼

[2021-03-22 09:48] jeffreytse commented on #4
@datapolitical, I will publish a release in this weekend, any other new bugs I will fix in this week.

[2021-03-22 10:00] #4 closed

[2021-03-22 10:13] #12 closed

[2021-03-25 20:24] datapolitical opened #13 "Bundler failed to load command"
bundler: failed to load command: jekyll (/github/workspace/vendor/bundle/ruby/2.7.0/bin/jekyll)
139
/github/workspace/vendor/bundle/ruby/2.7.0/gems/ffi-1.15.0/lib/ffi/library.rb:145:in `block in ffi_lib': Could not open library 'vips.so.42': vips.so.42: cannot open shared object file: No such file or directory. (LoadError)
140
Could not open library 'libvips.so.42': libvips.so.42: cannot open shar

[2021-03-25 23:37] datapolitical commented on #4
It's broken again

[2021-03-25 23:52] datapolitical commented on #4
Nevermind, I know what happened. it was a different plugin

[2021-03-26 03:38] jeffreytse commented on #13
Hi @datapolitical

This issue has been addressed and fixed. Please use `jeffreytse/jekyll-deploy-action@master` and try again.

Thanks and regards

[2021-03-26 04:05] datapolitical commented on #13
Thanks. I noticed that for some reason your action takes nearly 3 minutes longer to run than my old fork, and they both run fine. Any idea what the slowdown is: ![image](https://user-images.githubusercontent.com/696957/112575556-c3df9300-8dad-11eb-95b4-20f6ca8cac8e.png)

![image](https://user-images.githubusercontent.com/696957/112575563-c8a44700-8dad-11eb-937d-bc8b2b21873b.png)

[2021-03-26 04:17] jeffreytse commented on #13
Hi @datapolitical

Because you run my action after yours, my action will treat as a different OS, this will discard the gems cache and re-install all gems.

Thanks and regards

[2021-03-26 05:17] datapolitical commented on #13
I ran yours, then mine, then yours again now. Both times it was slower.

[2021-03-26 05:42] jeffreytse commented on #13
@datapolitical Could you provide me the task link that you ran just now?

[2021-03-26 07:03] datapolitical commented on #13
https://github.com/datapolitical/chrisfnicholson.github.io/runs/2199067923?check_suite_focus=true

[2021-03-26 08:29] jeffreytse opened #14 "Cache bundle gems not working"
Since getting OS name from `/etc/os-release`  and saving to the bundle's folder is always failed, this causes caching bundle gems not working.

[2021-03-26 10:09] jeffreytse commented on #14
We should also use below cache key for the `actions/cache`.

[code]

[2021-03-26 10:28] jeffreytse commented on #13
@datapolitical, because of the cache is always cleaned up, please see the issue #14 and use the cache key pattern in the code snippet.

[2021-03-26 10:37] jeffreytse commented on #14
We can use a VERSION secrect for updating the cache as below code snippet.

[code]

[2021-03-29 00:14] kinoute opened #15 "bundler: failed to load command: jekyll"
Hello,

Using master, I'm getting this error:

[code]

[2021-03-29 01:08] jeffreytse commented on #15
Hi @kinoute

Could you show me your `Gemfile` content?

Thanks and regards

[2021-03-29 02:51] jeffreytse commented on #13
Hi @datapolitical

Is this issue settled down? Hope you have a good day! : )

Thanks and regards

[2021-03-29 03:16] datapolitical commented on #13
I would just like you to issue a new release.

[2021-03-31 11:06] kinoute commented on #15
It seems related to the lack of a Javascript engine. I had the same error on another action for Jekyll. Adding the nodejs package before bundle make the error disappear.

[2021-03-31 11:25] kinoute commented on #15
My project's repository is private, sorry. But just adding nodejs to your Dockerfile should fix the issue for many users.

I'm now using this action: https://github.com/helaili/jekyll-action

Without nodejs, I had the same error as here. So I made use of the `pre_build_commands` argument this action offer to install nodejs with apk:

[code]

Works like a charm now!

[2021-04-05 03:12] jeffreytse commented on #13
Hi @datapolitical

Thanks for your patience, I have publish the new reelase [v0.2.1](https://github.com/jeffreytse/jekyll-deploy-action/releases/tag/v0.2.1), now you can update your configuration to it.

Thanks and regards

[2021-04-05 05:13] #13 closed

[2021-04-10 06:24] MaxGhenis commented on #5
This seems to be impossible as part of a normal workflow (PR from user fork to main repo) per #9, so closing. If another solution becomes available please let me know.

[2021-04-10 06:24] #5 closed

[2021-04-12 21:21] Anthonyive opened #17 "Q: Do I need to `bundle install` locally anymore?"
Hello, I am new to this. Everything is working now. I had some issues where it fails to build, so I did some research and it turns out that I need to delete `Gemfile.lock` in the `main` branch. The error message was this:
[code]
**I don't have any issue, but just to ask a question.**
I'm wondering if I need to do `bundle install` locally anymore because it builds for me every time. Thank you.

[2021-04-13 02:08] jeffreytse commented on #17
Hi @Anthonyive

I just digged your action record, is this [one](https://github.com/Anthonyive/website/runs/2328659884?check_suite_focus=true)? The error was introduced by the `jekyll/builder` action.

Thanks and regards

[2021-04-13 02:11] Anthonyive commented on #17
@jeffreytse Thanks. I have solved the build issue. People suggested to just not include `Gemfile.lock` and it worked perfectly. I'm just wondering if do I need to `bundle install` locally anymore since you know, the workflow essentially build for me on the cloud.

[2021-04-13 02:16] jeffreytse commented on #17
@Anthonyive Sure, you can run `bundle install` anytime but just need to add `Gemfile.lock` to your `.gitignore` file to avoid tracking this file, the `Gemfile.lock` content should be as below:

[code]

[2021-04-13 02:30] Anthonyive commented on #17
Got you. Thank you.

[2021-04-13 02:30] #17 closed

[2021-04-21 20:10] datapolitical commented on #11
Bumping this as the action currently takes 2.5 minutes to build which seems very long.

[2021-04-22 02:03] jeffreytse commented on #11
Hi @datapolitical,

This is a build based on docker, we can not cache this image for speeding up it, the large size of caching would exceed the limitation the GitHub allowed. I will try to investigate another way to speed up it.

Thanks and regards.

[2021-04-22 02:06] datapolitical commented on #11
Maybe this will help: https://github.com/marketplace/actions/build-docker-images-using-cache

[2021-04-22 02:14] jeffreytse commented on #11
Thanks for the help. : D

[2021-04-24 19:42] datapolitical commented on #11
Does this seem like a good lead? I could to set it up myself but I’d have to do it on a fork I think.

[2021-04-25 14:05] jeffreytse commented on #11
I think you can fork this project and have a try, and welcome to give me a feedback. : D

[2021-05-03 16:04] yuceltoluyag opened #19 "Please set the TOKEN environment variable."
I changed the name of GH_TOKEN to TOKEN and tried again, I got an error, I deleted and recreated the tokens, I got the same error, I wonder what am I doing wrong?

https://github.com/yuceltoluyag/yuceltoluyag.github.io/runs/2493501445

I created the keys like this

![pic-selected-210503-1856-12](https://user-images.githubusercontent.com/16064131/116900682-b1286b80-ac41-11eb-8f2b-915491e7d438.png)

[2021-05-03 16:12] jeffreytse commented on #19
Hi @yuceltoluyag

You should create a **Secret** in the secrets tab, but the screentshots show that you are in the **Environment** tab.

![image](https://user-images.githubusercontent.com/9413601/116901885-0b8af180-ac6d-11eb-8fdb-675951c19bbc.png)

Thanks and regards

[2021-05-03 16:48] yuceltoluyag commented on #19
@jeffreytse  ![pic-selected-210503-1945-54](https://user-images.githubusercontent.com/16064131/116905964-58a89c80-ac48-11eb-9a5d-6bfc5166bae3.png)
I took the wrong screenshot, I also have a key I created

[2021-05-04 00:40] sid-r-singh commented on #15
Thanks for your solution @kinoute . I had exactly the same problem & after using `pre_build_commands`  to install nodejs in https://github.com/helaili/jekyll-action solved the problem.

[2021-05-04 00:41] sid-r-singh commented on #15
Thanks for your solution @kinoute . I had exactly the same problem & after using pre_build_commands to install nodejs in https://github.com/helaili/jekyll-action solved the problem.

[2021-05-04 02:39] jeffreytse commented on #19
Hi @yuceltoluyag

You're getting that error because you haven't added your local plugins to your Gemfile. Simply add it to the Gemfile and this error should go away.

[code]

Thanks and regards

[2021-05-04 05:41] yuceltoluyag commented on #19
I don't know ruby language, I thought it would be easy when you said it would work like in the local.

[2021-05-04 05:49] jeffreytse commented on #19
Your filter needs to inherit `Liquid::Tag`.

[2021-05-04 17:03] yuceltoluyag commented on #19
It may be easy for you, not for me but thank you for your answers,

[2021-05-04 17:03] #19 closed

[2021-05-23 16:19] jodygarnett opened #21 "Clarification on 'repos"
Your setup instructions asks:

What specifically is needed?

* [ ] repo
  * [ ] repo:status
  * [ ] repo_deployment
  * [ ] public_repo
  * [ ] repo:invite
  * [ ] security_events

[2021-05-23 16:23] jeffreytse commented on #21
Hi @jodygarnett

You can assign it with the `repo` permission.

Thanks and regards

[2021-05-24 00:23] jodygarnett commented on #21
I was just asking as `repo` provides access to private repositories and so on.

A smaller set of permissions `repo/public_repo` (and possibily `repo/repo_deployment`) may be sufficient for public repositories?

[2021-05-24 01:39] jeffreytse commented on #21
Hi @jodygarnett

Here is the smaller set of permissions:

* [ ] repo
  * [x] repo:status
  * [x] repo_deployment
  * [x] public_repo
  * [ ] repo:invite
  * [ ] security_events

Thanks and regards

[2021-06-03 01:35] jeffreytse opened #23 "Support to check github repository name"
In case a user gives a wrong repository (e.g. `https://github.com/jeffreytse/jekyll-theme-yat`), we should check the value of repository parameter, it should match the pattern `<author>/<repos>` (e.g. `jeffreytse/jekyll-theme-yat`).

[2021-06-03 04:24] #23 closed

[2021-07-03 16:03] darioblanco commented on #11
@datapolitical  with the new `setup-ruby` action you can improve the speed greatly. I could reduce my workflow from 4-5 minutes to ~30 seconds thanks to this:

[code]

However, this approach does not use the `jekyll-deploy-action` at all, but if the speed improvement is important and you do not care handling a bit more from yourself, it is a good alternative.

[2021-07-04 15:22] jeffreytse commented on #11
Hi @darioblanco,thanks for the suggestion and I think now this one has helped to @datapolitical .

[2021-07-04 15:23] #11 closed

[2021-07-04 15:23] datapolitical commented on #11
Yeah this is great I'm gonna have to experiment to figure out if it's compatible with what I've been doing and isn't going to cause any problems but it definitely looks interesting and thankfully I have a test setup I can use to verify that it works OK.￼

[2021-07-04 15:30] jeffreytse commented on #11
@datapolitical, so sorry for no settling this issue, I will be happy to have a research on this no docker solution and try to refactor `jekyll-deploy-action`, so that it can be as fast as you expected.

[2021-07-04 15:30] datapolitical commented on #11
Oh awesome

[2021-08-18 00:25] MaxGhenis opened #25 ""error processing package elpa-magit" "emacs: not found""
See [this run](https://github.com/UBICenter/ubicenter.org/runs/3356228946?check_suite_focus=true#step:2:4023). https://github.com/UBICenter/ubicenter.org/pull/288 caused the break; https://github.com/UBICenter/ubicenter.org/pull/287 was 7 days ago and built fine. I also tried updating to `0.2.1` in https://github.com/UBICenter/ubicenter.org/pull/289, but got the same error.
[code]
Looks like [this

[2021-08-18 01:06] Albert-Z-Guo commented on #25
I got build error related to `elpa-magit` today as well. The build was working fine yesterday.
[code]

[2021-08-18 01:23] jeffreytse commented on #25
Hi,

Thanks for the reporting, I will try to settle it as soon as possible.

Thanks and Regards

[2021-08-18 06:18] jeffreytse commented on #25
Hi @MaxGhenis @Albert-Z-Guo ,

This issue has been settled down, please use version `jekyll-deplay-action@master` and try again.

Thanks and Regards

[2021-08-18 06:27] MaxGhenis commented on #25
That worked, thanks @jeffreytse!

[2021-08-18 06:29] jeffreytse commented on #25
@MaxGhenis , You're welcome, hope you have a good day! : )

[2021-08-18 06:42] #14 closed

[2021-08-18 06:43] #21 closed

[2021-08-18 07:08] Albert-Z-Guo commented on #25
Worked for me as well! Thanks for the quick fix @jeffreytse!

[2021-08-18 07:13] jeffreytse commented on #25
@Albert-Z-Guo , You're welcome, hope you have a good day! : )

[2021-08-18 07:15] jeffreytse commented on #11
Hi @datapolitical

Firstly, thanks for your patience, now there is a good news to tell you, the running time of the action is mainly impacted by recompiling the gem native extensions every time. To solve this issue, we should cache the gems as well as their native extensions completely, the latest commit f9e971db649fefe7b294e0e8cfb29ffd824a1221 has settled it. __With this enhancement, the speed ha

[2021-08-19 21:58] gruvw opened #26 "Website wont build..."
![image](https://user-images.githubusercontent.com/63407038/130149785-239b8148-1c0b-439c-a373-31083ec425fb.png)

Any ideas ?

Everything was building smoothly since now...

[2021-08-20 01:19] RiverOnVenus commented on #26
You may need to modify the version of Action. [https://github.com/gruvw/portfolio/blob/6f1a6e8d0f0362af4001e899145dbc82cf751190/.github/workflows/build-jekyll.yml#L23](https://github.com/gruvw/portfolio/blob/6f1a6e8d0f0362af4001e899145dbc82cf751190/.github/workflows/build-jekyll.yml#L23)

[2021-08-20 01:20] RiverOnVenus commented on #26
`- uses: jeffreytse/jekyll-deploy-action@master`

[2021-08-20 01:36] jeffreytse commented on #26
Hi @gruvw

This issue has been fixed, you can find more  in issue #25.

Thanks and Regards

[2021-08-20 01:37] jeffreytse commented on #26
@RiverOnVenus 👍 Thanks for your quickly help, and hope you have a good day! :)

[2021-08-20 03:17] jeffreytse commented on #15
Hi @kinoute

Thanks for the patience, now I  need to tell you the news, the latest release [v0.3.0](https://github.com/jeffreytse/jekyll-deploy-action/releases/tag/v0.3.0) has support the pre-build commands to install additional dependencies. Beyond that, it also improved the building speed over almost 75%!

Hope you have a good day! : )

Thanks and Regards

[2021-08-20 03:22] jeffreytse commented on #11
@datapolitical Now the new version [v0.3.0](https://github.com/jeffreytse/jekyll-deploy-action/releases/tag/v0.3.0) has been released, you can just use it by `jeffreytse/jekyll-deploy-action@v0.3.0`.

[2021-08-20 04:13] datapolitical commented on #11
This update is causing my build to break with the following error:

Gem::Ext::BuildError: ERROR: Failed to build gem native extension.
285

286
current directory:
287
/github/workspace/vendor/bundle/ruby/2.7.0/gems/rmagick-4.2.2/ext/RMagick
288
/usr/bin/ruby-2.7 -I /usr/lib/ruby/2.7.0 -r ./siteconf20210820-214-112vgkl.rb
289
extconf.rb
290
checking for brew... no
291
checking for pacman... yes
292

[2021-08-20 04:29] jeffreytse commented on #11
Hi @datapolitical

With the new release, you should manually install additional dependencies according to your gems by the `pre_build_commands` option. According to your gem `RMagick`, below is the code snippet for you.

[code]

Thanks and Regards

[2021-08-20 04:31] datapolitical commented on #11
I'm using Ubuntu 20.04, is the command different?

[2021-08-20 04:34] jeffreytse commented on #11
@datapolitical Since the action is base on Arch Linux, so you should use commands based on Arch Linux, the package manager on Arch Linux is `Pacman`.

[2021-08-20 04:47] datapolitical commented on #11
Something is wrong with the imagemagick install:

Liquid Exception: `magick convert -resize 400x -quality 75 /tmp/mini_magick20210820-1332-1sdhtie.jpg[0] /tmp/mini_magick20210820-1332-5ugwfz.webp` failed with error: convert: delegate failed `'cwebp' -quiet %Q '%i' -o '%o'' @ error/delegate.c/InvokeDelegate/1913. in /github/workspace/vendor/bundle/ruby/2.7.0/bundler/gems/contrast-76b6aa921e7b/_layo

[2021-08-20 04:58] jeffreytse commented on #11
@datapolitical Accordingly, additional dependency `libwebp` you should install.

[2021-08-20 05:16] jeffreytse commented on #11
@datapolitical For better user experience, I will add a new feature to automatically checking gems used and installing relative system dependencies.

[2021-08-28 16:29] #26 closed

[2021-09-23 13:56] MikulasVanousek opened #27 "Security concern"
It is not safe to push your personal token to a public repo, right? I know this might seem very obvious to you, but some people might not realize this.

[2021-09-23 14:02] jeffreytse commented on #27
Hi @MikulasVanousek

Thanks for your reaching out. Could you point me out of the place in source code that is not safe? : )

Thanks and Regards

[2021-09-23 14:09] MikulasVanousek commented on #27
Sorry, it is not the source code, it is the instructions. You need to generate a personal token and put it into your deploy action. If you push this action to a public GitHub repo, this would expose your personal token to public, right?

[2021-09-23 14:18] jeffreytse commented on #27
Hi, I think you misunderstand the [GitHub secrets](https://docs.github.com/en/actions/security-guides/encrypted-secrets), it's encrypted and safe for users, and it will not expose others people's personal token to public.

[2021-09-23 19:46] MikulasVanousek commented on #27
You are right, probably right. I hope I did not bother you too much. Thank you for your contributions to the open source community.

[2021-09-23 20:03] MikulasVanousek commented on #27
When I read the instructions right, it works like a charm. Now I finally can include my ruby script for not requiring date in post filenames.

Once again, thank you for your work and this great repo. Unfortunately, a star is all the support I can give you now, but do not think your work is not being appreciated.

[2021-09-23 20:03] #27 closed

[2021-09-24 03:19] jeffreytse commented on #27
@MikulasVanousek Thanks! Hope you have a good day! : )

[2021-10-08 01:58] jeffreytse commented on #27
Hi @MikulasVanousek

Now the latest version has supported to use the `GITHUB_TOKEN` to authenticate in a workflow run, it has better security. You can use the `GITHUB_TOKEN` by using the standard syntax for referencing secrets: `${{ secrets.GITHUB_TOKEN }}`. For more information, you can see the [README](https://github.com/jeffreytse/jekyll-deploy-action/blob/master/README.md).

Thanks and Regards

[2021-10-13 14:58] IanSaucy opened #30 "Fatal error in pushing to gh-pages branch does not cause action to also fail"
I've been having some issues with getting the plugin configured for my repository and been working through debugging. Recently I've gotten the following error:

`fatal: could not read Password for 'https://***@github.com': No such device or address` but this did not cause the github action to fail, instead it reported a success. It appears that there may be a bug on errors that occur later in the

[2021-10-13 15:07] jeffreytse commented on #30
Hi @IanSaucy

Could you change [this repository value in your action config](https://github.com/BU-Spark/bu-spark.github.io/blob/a82ab4027f3f3c1c4c7ac745461b24f4a0dcfddd/.github/workflows/build-jekyll.yml#L27) to an empty string, and try again?

Thanks and Regards

[2021-10-14 01:54] jeffreytse commented on #30
Hi @IanSaucy

I saw your action configuration, you should use [jeffreytse/jekyll-deploy-action@v0.3.1](https://github.com/BU-Spark/bu-spark.github.io/blob/17e6a3f64fccdaa8d69cbed217e7cc8a14c491b2/.github/workflows/build-jekyll.yml#L26), the `GITHUB_TOKEN` was supported from [v0.3.1](https://github.com/jeffreytse/jekyll-deploy-action/releases/tag/v0.3.1).

Hope you have a good day! And welcome to s

[2021-10-14 02:03] #30 closed, assigned to jeffreytse

[2021-10-19 19:34] Benau opened #31 "Suggestion for project"
In order to port from official github-page gem to jeykll +  this action, I need to use this deploy file:
[code]
Basically I need an extra deps "jekyll-github-metadata" so it can auto set site.url + baseurl, otherwise i need to set it manually (see the commented out lines)

But you don't seem to "export" JEKYLL_GITHUB_TOKEN with the token so I need an extra step, would be good if you can add that i

[2021-10-19 19:35] Benau commented on #31
Without JEKYLL_GITHUB_TOKEN it says ```GitHub Metadata: No GitHub API authentication could be found. Some fields may be missing or have incorrect data.``` by the way

[2021-10-20 23:42] Benau commented on #31
Thank you!

[2021-10-20 23:42] #31 closed, assigned to jeffreytse

[2021-12-22 00:47] metapodcod commented on #21
![image](https://user-images.githubusercontent.com/67564813/147016064-35248a46-8dc8-4e61-9776-3ea58a0930f7.png)
@jeffreytse

[2022-02-16 22:56] Mexassi opened #32 "Action does not fail on authentication issue"
I am facing an issue where when the authentication fails with:
`remote: Invalid username or password.`

The Action jekyll-deploy-action still passes and my pipeline is green.

I am running version @v0.3.1

[2022-02-16 23:12] Mexassi commented on #32
to add more context, I am rotating my tokens. So the GH_TOKEN I was using expired and I have started getting the invalid username or password error.

Updating the secret value fixed the authentication issue, however I would expect the job to fail on authentication errors rather than pass.

[2022-02-17 03:43] jeffreytse commented on #32
Hi @Mexassi

For the version `v0.3.1`,  just use this `${{ secrets.GITHUB_TOKEN }}`, and you don't need to generate the token, Github will auto generate it by default.

Thanks & Regards

[2022-02-17 03:45] #25 closed

[2022-02-17 22:29] Mexassi commented on #32
I was not aware of that, thank you for the tip @jeffreytse.

[2022-02-27 09:37] ryan961 opened #34 "No repo name found"
https://github.com/ryan961/ryan961.github.io/runs/5349522506?check_suite_focus=true

[2022-02-27 10:54] jeffreytse commented on #34
Hi @ryan961

I think your issue is that you have [a wrong token]( (https://github.com/ryan961/ryan961.github.io/blob/571a5ee25d53d9e3ed3300182076e646e17961ea/.github/workflows/deploy.yml#L26). GitHub will auto create a token called `GITHUB_TOKEN` for you by default, you just need to use it directly as below snippet.

[code]

Thanks & Regards

[2022-02-27 12:32] ryan961 commented on #34
I have changed it, it still failed.
https://github.com/ryan961/ryan961.github.io/runs/5350192317?check_suite_focus=true

[2022-02-27 13:12] jeffreytse commented on #34
@ryan961

It's another issue, as you haven't configured `repository` field in your `_config.yml`. Please add configuration as below

[code]

Thanks & Regards

[2022-02-27 13:57] ryan961 commented on #34
Thank you for reply, it's ok!

[2022-02-27 13:57] ryan961 commented on #34
Thank you for reply, it's ok!

[2022-02-28 09:03] ryan961 commented on #34
hi,  I have two repos that are identical to each other. I am attempting to automate pushing to the public repo from the private one using this action, but I am having issues pushing.
[code]
https://github.com/ryan961/note/runs/5356819165?check_suite_focus=true.
so, I need to create a Personal Access Token (PAT)? or this operation is not supported ? @jeffreytse

[2022-02-28 09:23] jeffreytse commented on #34
Hi @ryan961

You can try to create your [Personal Access Token](https://github.com/jeffreytse/jekyll-deploy-action) according the README and set your repository as below:

[code]

Thanks & Regards

[2022-03-03 04:49] #34 closed

[2022-03-17 06:32] RiverOnVenus opened #35 "Successful build but failed deployment"
Hi, thanks for your contribution on this.

There have been several failed deployments before.

![image](https://user-images.githubusercontent.com/79885139/158753657-4eae6705-d4f7-4cf3-ad73-2b0affc76f0d.png)

This is the latest deployment failure action.

![image](https://user-images.githubusercontent.com/79885139/158749364-09c26478-ac61-43d1-93a2-0c8579798d8d.png)

and see details:
[code]
Then I t

[2022-03-17 14:33] jeffreytse commented on #35
Hi @RiverOnVenus

Thanks for your issue. Is your issue settled? I see your repo deployment status is successful.

Thanks & Regards

[2022-03-18 02:07] jeffreytse commented on #35
Hi @RiverOnVenus

I think this issue was caused as some of GitHub services were down yesterday.

Thanks & Regards

[2022-03-18 02:40] RiverOnVenus commented on #35
Wow, so that is the case, thanks for your answers!

And maybe we can close this issue.

Regards

[2022-03-18 10:41] #35 closed

[2022-03-21 19:35] peimanja opened #36 "Add an option to only build without publishing"
We still would like to check if build passes on pull requests without publishing the site.

[2022-03-22 04:39] jeffreytse commented on #36
Hi @peimanja

Thanks for the suggestion, I will take a consideration and work on this as soon as possible. And welcome to star this project for further update in the future.

Thanks & Regards

[2022-03-22 04:57] jeffreytse commented on #36
Hi @peimanja

I have a question on the requirement, why you don't want to create a branch for test purpose?

Thanks & Regards

[2022-03-22 05:10] peimanja commented on #36
Thanks for he quick response. On pull requests we deploy a preview version  on netlify using https://github.com/nwtgck/actions-netlify action and after merging the PR we deploy it on Github pages

right now we use https://github.com/helaili/jekyll-action action but we are looking for a better maintained action and yours looks very good.

so adding an option like this:
[code]
would only build but w

[2022-04-05 12:59] itrich commented on #36
Same here! We're looking for a way to build the site on every branch but only pushing if the source branch is 'main'. This would allow us to test pull requests before merging.

[2022-04-05 15:19] jeffreytse commented on #36
@itrich Agree with you, currently I am busy, but I will work on this as soon as possible. : )

[2022-04-16 21:50] ybressler opened #38 "Theme is not being installed when using this deployment action"
When my site is being deployed with this action, the github theme is no longer installed.

[2022-04-16 22:17] ybressler commented on #38
## Solved! ✅
I needed to be tracking `Gemfile.lock` (and I'm assuming `Gemfile` as well). When the runner loads the cached gemfile (`uses: actions/cache@v2`), if no gemfile is found, I'm assuming it doesn't install requirements? And skips? Either way, tracking these 2 files (by removing from gitignore) solved it for me.

[2022-04-16 22:17] #38 closed

[2022-04-20 06:38] wholon opened #39 "add an optional choice to build using the source file"
I already use this action and it's pretty good to solve my problem for using other plugins.

but I found I can't build my site using my local theme, which means I need to specific a remote-theme and I can't configure it locally.

Is there any possible to build my site and using my own theme?

My English is not very well, hope you can understand what I mean. ^-^

[2022-04-20 10:04] wholon commented on #39
I don't know what I have done, but this issue has already solved.

Thx for the awesome action.

[2022-04-20 10:07] wholon commented on #39
It seems like the URLs generated by this method would add /pages/GitHubUsername/ as base_url，that's why all of my theme files had lost.

So I add `base_url: ""` in my `_config` file and everything comes back.

[2022-04-20 10:14] wholon opened #40 "the jekyll-last-modified-at plugin doesn't work correctly"
The plugin [jekyll-last-modified-at](https://github.com/gjtorikian/jekyll-last-modified-at) use git-log or file `mtime` to show `last_modified_date_at` date in pages which is pretty awesome.

But I found if I use this Action, all of the files git-log would become the last build time.

Is is possible to use [jekyll-last-modified-at](https://github.com/gjtorikian/jekyll-last-modified-at) by this Act

[2022-04-20 11:58] jeffreytse commented on #39
Hi @wholon

Thanks for your issue, is it that you have settled down your issue?

Thanks & Regards

[2022-04-20 12:05] jeffreytse commented on #40
Hi @wholon

Git doesn't record the last modification date, only the commit/author dates for an all commit, so when the GitHub action pull your repository, the modification date will be the same as the creation date, it's not the same as your local environment.

Thanks & Regards

[2022-04-28 09:23] #39 closed

[2022-04-28 11:05] wholon commented on #40
Thank you~

[2022-05-01 23:38] list4c opened #41 "I cannot get custom plugins and running workflows at the same time"
Hi,
I'm playing with this Github action. It deploys my blog, but the somehow I can't get it to deploy the state of the gh-pages branch.

My repository with the blog is here: https://github.com/list4c/list4c.github.io/tree/gh-pages

In pictures:

![image](https://user-images.githubusercontent.com/100785544/166169158-cd8b3c53-2618-43aa-9ecd-c25b1df6ee7d.png)

This is how the figures look when my pub

[2022-05-02 12:26] list4c commented on #41
Hi!
Ok, I found out what was going on :)
I deactivated one of the workflows, thinking that Github Actions somehow 'remembered' another github action that I tried before yours. But in fact the during deployment there are two workflows running - one that builds the site and pushes the output to `gh-pages` branch

![image](https://user-images.githubusercontent.com/100785544/166233263-764331b3-86a9-47

[2022-05-06 13:35] ZanzyTHEbar opened #42 "build deploys - but breaks my website"
Hello. Here is my [site src code](https://github.com/openair-collective/openair-cyan/tree/docs). When i build locally everything works fine.

When i build to `gh-pages` branch using your workflow - my [site does not render correctly](https://openair-collective.github.io/openair-cyan). I can not, for the life of me, figure out what is going on. What should i change? Any help would be greatly apprec

[2022-05-06 16:14] #42 closed

[2022-05-08 01:37] MarkChenYutian opened #43 "fatal: unsafe repository ('/github/workspace' is owned by someone else)"
Hi, I'm using the (modified version of) YAT Jekyll theme along with this jekyll-deploy-action. Everything works really well for several months, but several days ago, when I push to the GitHub repo, I occasionally receive run failures from GitHub Action.

Here's part of the GitHub Action log:

[code]

I've tried several times, but this bug/error only occurs occasionally. Here are some key GitHub Ac

[2022-05-08 03:00] jeffreytse commented on #43
Hi @MarkChenYutian

Thanks for your issue, this issue is due to the security fix from the Git security vulnerability
recently announced:

https://github.blog/2022-04-12-git-security-vulnerability-announced/.

Relevant GH issue: https://github.com/actions/checkout/issues/760

Thanks & Regards

[2022-05-08 03:21] MarkChenYutian commented on #43
Thanks for the quick-reply! I've read through the issue you linked in response but still can't figure out a way to resolve this problem. I've added the following steps in the job according to the discussion in the issue:

[code]

but it didn't seem to work. Do you have any further suggestions ...?

[2022-05-08 03:22] jeffreytse commented on #43
Hi @MarkChenYutian

I have fixed this issue, you can try again with the latest version.

Thanks & Regards

[2022-05-08 03:26] jeffreytse commented on #41
Hi @list4c

Sorry for replying your issue late, have you solved this issue, I'm happy to help you. : )

Thanks & Regards

[2022-05-08 03:28] MarkChenYutian commented on #43
<img width="863" alt="image" src="https://user-images.githubusercontent.com/47029019/167280459-9afb5254-e31d-48bf-9ff6-a8795048f147.png">

Not working still... Perhaps because the workflow is still using `v0.3.1` of `jekyll-deploy-action` instead of the latest version?

[2022-05-08 03:29] jeffreytse commented on #43
Hi @MarkChenYutian

Please use `jekyll-deploy-action@master`.

Thanks & Regards

[2022-05-08 03:32] MarkChenYutian commented on #43
There's still this fatal error:

[code]

(with `checkout@v3` and `jekyll-deploy-action@master`)

Here's the log: https://github.com/MarkChenYutian/blog/runs/6338487604?check_suite_focus=true

[2022-05-08 03:41] jeffreytse commented on #43
@MarkChenYutian Just did some changes, please rerun your action again and tell me the result.

[2022-05-08 03:48] MarkChenYutian commented on #43
Still failed: https://github.com/MarkChenYutian/blog/runs/6338543771?check_suite_focus=true

[2022-05-08 04:24] jeffreytse commented on #43
Hi @MarkChenYutian

You can rerun again, I have test, and it's successful: https://github.com/jeffreytse/blog/actions/runs/2288434185

Thanks & Regards

[2022-05-08 05:08] MarkChenYutian commented on #43
Hi @jeffreytse

It worked! Thanks so much for the quick response and all these follow-ups!

So many Thanks!

[2022-05-08 05:08] #43 closed

[2022-05-08 11:21] jeffreytse commented on #40
Hi @wholon

Now this feature has been added, please update your action to the latest version. In addition, the date time isn't as the same as it was, because it will restore the modification time (mtime) of all files in the work tree, based on the date of the most recent commit that modified the file.

Thanks & Regards

[2022-05-08 11:25] #32 closed

[2022-05-08 13:41] #40 closed

[2022-05-15 16:09] list4c commented on #41
Yes, thanks for asking!

[2022-05-16 01:26] #41 closed

[2022-05-19 08:03] oakjelly21 opened #45 "How do I use pre_build_commands?"
I want to use the vega-lite diagram library along with a jekyll plugin.
how do I use the pre build commands to run npm install?
I want to install the diagram library use the command:
npm install -g vega-cli vega-lite

[2022-05-19 15:25] jeffreytse commented on #45
Hi @oakjelly21

This action is based on Arch Linux, so you can run any commands supported by Arch Linux, you can see installation instructions from Node official website, learn how to install `nodejs` and `npm`.

Reference: https://nodejs.org/en/download/package-manager/#arch-linux

[code]

Thanks & Regards

[2022-05-26 05:51] oakjelly21 commented on #45
Thank you for the tip. However, the build fails.
![image](https://user-images.githubusercontent.com/49606481/170413227-53da5f9f-cbb6-49d3-820e-89874cc9ee02.png)
I tried running the command on my PC and it worked. I am not sure if it is a arch linux problem or a something to do with the action.
I searched around the web a lot, but cant seem to find anything that works. A forum suggested that I use

[2022-05-28 08:57] Doreapp opened #46 "What is the base path of jekyll_cfg value ?"
Hi,
I am wondering what is the base path of `jekyll_cfg` value, is it the repository's root or `jekyll_src` value.
For example, given a repository like:

[code]

The `jekyll_src` being `github-pages`, does `jekyll_cfg` should be `_config.yml` (assuming it will be built as `<jekyll_src>/<jekyll_cfg>`) or `github-pages/_config.yml` (assuming it will be built regardless `jekyll_src`) ?

[2022-05-28 09:08] Doreapp commented on #46
According to tests, `jekyll_cfg` value is not relative to `jekyll_src`.
For the example above, it should then be `github-pages/_config.yml`.

[2022-05-28 09:08] #46 closed

[2022-06-10 05:46] #45 closed

[2022-07-04 20:59] Dokman opened #47 "The action is not compiling my theme"
Hello i'm using this action but the theme in my config is not working why?

[https://manualdelrx8.github.io/](https://manualdelrx8.github.io/)

[2022-07-05 07:28] #47 closed

[2022-07-16 15:56] ConorSheehan1 opened #48 "Relative urls broken"
`relative_url` and `absolute_url` filters are returning weird values for me.

e.g. `{{'assets/js/lightbox_custom.js' | absolute_url }}` returns `https://github.com/pages/ConorSheehan1/assets/js/lightbox_custom.js`.
it seems baseurl is somehow `https://github.com/pages/ConorSheehan1` when it used to be, and should be `https://conorsheehan1.github.io`. I'd expect `https://conorsheehan1.github.io//as

[2022-07-16 16:29] ConorSheehan1 commented on #48
I finally got it working. Here's the commit that fixed it : https://github.com/ConorSheehan1/ConorSheehan1.github.io/commit/f4558c530e54752623eeae9ef22de803e8f53466

[Despite some contradictory advice](https://stackoverflow.com/questions/48197580/jekyll-theme-does-not-work-on-github-pages-but-works-locally/64778847#64778847) *adding* `baseurl: ""` to _config.yml and using the defaults for this act

[2022-07-16 16:29] #48 closed

[2022-07-17 03:32] jeffreytse commented on #48
Hi @ConorSheehan1

It's great to hear that you have fixed this issue. Hope you have a good weekend! : )

Thanks & Regards

[2022-07-24 08:59] shinwookim opened #49 "Error when trying to run libvips for Jekyll-Picture-Tag"
[code]

[1_build_and_deploy.txt](https://github.com/jeffreytse/jekyll-deploy-action/files/9175438/1_build_and_deploy.txt)

[2022-07-24 08:59] shinwookim commented on #49
[1_build_and_deploy.txt](https://github.com/jeffreytse/jekyll-deploy-action/files/9175438/1_build_and_deploy.txt)

[2022-07-25 02:56] shinwookim commented on #49
Solved by installing LibVips via Pre-build commands

[2022-07-27 09:34] etcware opened #50 "Do I need this project structure?"
Sorry if I use an issue for a question: I created the .github/workflows/build-jekyll.yml in my jekyll project, I pushed it to github, I created gh-pages branch. Workflow run correctly. But it doesn't work: after workflow run gh-pages branch is empty. This is my project structure:
<img width="280" alt="Schermata 2022-07-27 alle 11 23 23" src="https://user-images.githubusercontent.com/5634930/181213

[2022-07-30 14:31] etcware commented on #50
The problem was in the PAT I created, it didn't have the right permissions

[2022-07-30 14:31] #50 closed

[2022-08-06 03:16] Benau commented on #49
seems that the repo owner need to reinstall jeykll picture tag and rebuild it against latest libvips.so

[2022-08-06 04:21] jeffreytse commented on #49
Hi @shinwookim

Have you settled down this issue?

Thanks & Regards

[2022-10-16 14:05] ZibingZhang commented on #36
Just wanted to add that another use case (the one I'm looking for) would be when I have multiple sub directories that need building before deploying all together, e.g. a `jekyll` subdir and a `react-project` subdir. In the meantime I've taken to cloning this repo locally and removing the publishing functionality. Thanks for the amazing action!

[2022-11-12 20:47] MattUnderscoreZhang opened #53 "Is there a way to use a specific Ruby version?"
I have some gems that require Ruby 3, but I think this action is hard-coded to use 2.7.
Can you add a way to specify the Ruby version?

[2022-11-19 09:43] floating-cat commented on #40
@jeffreytse Hi, the fix for this issue is wrong. I tried this action but the generated date is still wrong for my blog. I have created a PR to fix this issue.